<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <label for="username">Введіть ім'я користувача:</label>
    <input type="text" id="username" th:field="*{username}">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    <br>
    <label for="yearOfBirth">Введіть рік народження:</label>
    <input type="text" id="yearOfBirth" th:field="*{yearOfBirth}">
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth Error</div>
    <br>
    <label for="password">Введіть пароль:</label>
    <input type="text" id="password" th:field="*{password}">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
    <br>
    <input type="submit">
</form>

</body>
</html>